.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    width: 90%;
    margin-left: 40px;
    margin-top: 20px;
  }

  .title{
    margin-left: 40px;
    margin-top: 20px;
    color: #243340;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .btn-crear {
    background-color: #497494 !important;
    border: none !important;
    color: white;
    margin-top: 10px;
  }
  
  /* Estilos para el contenedor del filtro */
  .filtro-container {
    margin-top: 20px; /* Espacio entre el botón y el filtro */
  }

  .btn-save{
    background-color: #548454 !important;
    border: none !important;
  }

  .btn-cancel{
    background-color: #9E0000 !important;
    border: black !important;
  }

  .btn-action.hover{
    background-color: green !important;
    border: none !important;
  }
  
  /* Estilos para el label del filtro */
  .filtro-container label {
    margin-right: 10px; /* Espacio entre el label y el input */
  }
  
  /* Estilos para el input del filtro */
  .filtro-container input {
    width: 25%; /* Ancho del input al 100% del contenedor */
    margin-top: 5px; /* Espacio entre el label y el input */
  }

  button{
    display: flex;
    align-content: center;
    align-items: center;
  }
.react-datepicker-popper{
  z-index: 2 !important;
}

.GrupoFiltro {
  background: linear-gradient(to left, white 50%, #f2f2f2 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
  transition-timing-function: linear;
}

.GrupoFiltro:hover {
  background-position: left bottom;
}

.contenedorFiltro {
  width: 0%;
  position: relative;
  left: -300px; /* Posición inicial fuera de la pantalla */
  transition: left 1s ease; /* Transición de la propiedad left más lenta */
  height: 400px;
  overflow: auto;
}

.contenedorFiltro.mostrar {
  left: 0; /* Posición final en la pantalla */
  width: 20%;
  height: 400px; /* Establece la altura deseada aquí */
  overflow: auto;
}

.h4Estilo{
  color: #9E0000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bordes redondeados */
}

.react-datepicker-wrapper{
  display: inline !important;
}