.login-bg {

  font-family: Arial, sans-serif;
  background-image: url('../img/LoginBg.jpg');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
}

.container-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-btn-crear-iniciar button {
  display: flex;
  align-items: center;
  width: calc(100% - 0px);
  text-align: center;
  justify-content: center;
  background-color: rgb(201, 214, 200);
}

.container-btn-crear-iniciar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: -25px;
}

.input-label {
  text-align: left;
  color: #000;
}

.crear-cuenta-color {
  color: rgb(46, 45, 45);
}

.crear-cuenta-color:hover {
  color: #548454;
}

.btn-styled {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #548454;
  border: 1px solid #548454;
  color: #fff;
  width: calc(100% - 0px);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.btn-styled-danger {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #b82a11;
  border: 1px solid #b82a11;
  color: #fff;
  width: calc(100% - 0px);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.form-header {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.invalid-feedback {
  /* Estilos para el mensaje de error */
  display: block;
  width: 100%;
  font-size: 80%;
  color: #dc3545;
  margin-top: -15px;
  margin-bottom: 2px;
}

.form-header h2 {
  font-size: 28px;
  margin: 0;
}

.form-header p {
  font-size: 10px;
  margin: 0;
}

.input-styled {
  /* Estilos base para los inputs */
  border-radius: 5px;
  border: 1px solid #548454;
  min-height: 25px;
  width: calc(100% - 0px);
  box-sizing: border-box;
  padding: 8px;
  color: #000;
  margin-bottom: 20px;

  line-height: 1.5;

  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-error {
  /* Estilos para resaltar los inputs con errores */
  border-color: #dc3545 !important;
}

@media (max-width: 768px) {
  .form-container {
    width: 80%;
    /* Reducción del ancho en pantallas más pequeñas */
  }
}