.top-bar {
    background: #ffffff;
    color: #000000;
    box-shadow: 20 0 0px rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 50px;
    border-bottom: #000000;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-avatar {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../img/user.png');
    background-size: contain;
    position: relative;
}

.notifications {
    margin-right: 20px;
}

.avatar-options {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: max-content;
    white-space: nowrap;
}

.notifications {
    position: relative;
}

.notification-list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.notification-list ul {
    list-style: none;
    padding: 0;
}

.notification-list ul li {
    margin-bottom: 5px;
}

.nav-link-custom {
    color: "243340" !important; /* Asegúrate de que los enlaces no sean opacos */
    text-align: center;
    display: flex;
    flex-direction: column; /* Para poner el icono sobre el texto */
    align-items: center;
    justify-content: center;
  }
  
  .nav-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
   /* background-color: #243340; 
  padding: 10px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  */
  }
  .brand-content {
    display: flex;
    align-items: center; /* Centrar verticalmente */
  }
  
  .brand-content img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .brand-content span {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según sea necesario */
    font-weight: bold;
    color: white; /* O el color que desees */
  }
  
  .nav-link-custom:hover {

    color: red !important; /* Color al pasar el cursor */
  }

  .nav-icon-text:hover{
    color: #497494 !important; /* Color al pasar el cursor */
  }

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .top-bar {
        justify-content: flex-end;
        flex-direction: row;
    }

    .user-info {
        margin-left: auto;
        margin-right: 10px;
    }

    .user-avatar {
        margin-left: 10px;
        margin-right: 0;
    }

    .notifications {
        margin-left: 0;
        margin-right: 0;
    }

    .avatar-options {
        position: absolute;
    }

    .notification-list {
        margin-top: 10px;
    }
}